<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="signIn()" novalidate>
    <div class="form-group col-md-6">
      <label for="name">User Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter user name" formControlName="name" required />
      <div *ngIf="submitted && formLogin.name.errors" class="alert alert-danger col-md-12">
        <div *ngIf="formLogin.name.errors.required">User name is required</div>
        <div *ngIf="formLogin.name.errors.minlength">User name length should be at least 4</div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="password" formControlName="password"
        required />
        <div *ngIf="submitted && formLogin.password.errors" class="alert alert-danger col-md-12">
          <div *ngIf="formLogin.password.errors.required">Password is required</div>
          <div *ngIf="formLogin.password.errors.minlength">Password length should be at least 6</div>
        </div>
    </div>
    <button align="right" type="button" class="btn btn-primary" (click)="signIn()">Submit</button>
  </form>
</div>
