<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="signIn()" novalidate>
    <div class="form-group col-md-6">
      <label for="name">User Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter user name" formControlName="name" required />
    </div>
    <div class="form-group col-md-6">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="password" formControlName="password"
        required />
    </div>
    <button align="right" type="button" class="btn btn-primary" (click)="signIn()">Submit</button>
  </form>
</div>
